body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: Museo, 'serif';
  font-weight: 300;
  color: #282828;
}
a {
  color: #282828;
  text-decoration: none;
}
nav {
  font-weight: 500;
  padding-top: 2rem;
  vertical-align: super;
}
nav a {
  color: #282828;
  text-decoration: none;
  font-style: normal;
  margin: 0 2rem;
  border-bottom: 1px solid #282828;
  transition: all .13s linear;
}
nav a:first-of-type {
  margin: 0 2rem 0 4rem;
}
nav a:hover {
  box-shadow: inset 0 -0.4em 0 0 rgba(108, 180, 63, 0.36);
  outline: none;
  border: none;
}
nav a::selection {
  color: #cf381e;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
header {
  margin: 4rem 0;
}
header h1 {
  border-right: 1px solid #282828;
  padding-right: 4rem;
}
header p {
  max-width: 24rem;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.container {
  max-width: 80%;
  margin: auto;
}
section {
  width: 80%;
  display: flex;
  transition: all .3s ease;
}
section.active {
  margin-top: 10rem;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.comb {
  display: inline;
}
.comb h2 {
  transition: .3s all ease;
}
.comb.alt h2 {
  transform: translateX(-10rem) translateY(10rem);
}
.comb.alt.active h2 {
  transform: translateX(-5rem) translateY(10rem);
}
.comb h2 {
  transform: translateX(-5rem) translateY(10rem);
}
.rear {
  z-index: -1;
}
.fore {
  z-index: 1;
}
.comb-container {
  max-width: 90%;
  display: inline;
}
.hexagon {
  position: relative;
  float: left;
  width: 150px;
  height: 86.60px;
  background-color: #e8e8e8;
  margin: 80.30px 0;
  transform: translateY(2rem);
  color: white;
  font-size: 4rem;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 43.3px solid #e8e8e8;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.3px solid #e8e8e8;
}
.comb-transform {
  transition: all .300s ease;
  transform: translateX(5rem);
}
.comb-transform.alt {
  transform: translateX(10rem);
}
.comb-transform.active {
  transform: translateY(-16rem) translateX(5rem) scale(0.7);
}
.line {
  border: 1px solid #ededed;
  border-bottom: none;
}
.line.top {
  margin-bottom: 3rem;
}
.di {
  display: inline;
}
.space {
  border: none;
  margin: 4rem;
}
