.container {
  max-width: 80%;
  margin: auto;
}

section {
  width: 80%;
  display: flex;
  transition: all .3s ease;
  &.active {
    margin-top: 10rem;
  }
}

.video {
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:center;
  margin: auto;
}

.comb {
  display: inline;
  h2 {transition: .3s all ease;}
  &.alt {
    h2 { transform: translateX(-10rem) translateY(10rem); }
    &.active {
      h2 { transform: translateX(-5rem) translateY(10rem); }
    }
  }
  h2 { transform: translateX(-5rem) translateY(10rem); }
}

.rear {
  z-index: -1;
}

.fore {
  z-index: 1;
}

.comb-container {
  max-width: 90%;
  display: inline;
}


.comb-element {

}
