@bgcolor: #ffffff;
@textcolor: #404040;

@yellow: #ffdc00;
@green: #6cb43f;
@ocean: #6aa5af;
@red: #cf381e;

// @import "_structure.less";

body {
  padding: 0;
  margin: 0;
  background-color: @bgcolor;
}

nav {
  font-size: 2rem;
  padding-top: 2rem;
}

h1, h2, h3, h4, h5, p {
  color: @textcolor;
}

header {
  text-align: center;
  margin: auto;
}

.hidden{
  display: none;
}

@import "_elements.less";
@import "_drawings.less";
