@bgcolor: #ffffff;
@textcolor: #404040;
@grey: #e8e8e8;

@yellow: #ffdc00;
@green: #6cb43f;
@ocean: #6aa5af;
@red: #cf381e;

// @import "_structure.less";

body {
  padding: 0;
  margin: 0;
  background-color: @bgcolor;
}

nav {
  font-size: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  a {
    margin: 0 1rem 0 0;
    display:inline-block;
  }
}

h1, h2, h3, h4, h5, p {
  color: @textcolor;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: auto;
  p {
    max-width: 24rem;
  }
}

.hidden{
  display: none;
}

@import "_elements.less";
@import "_drawings.less";
